@model CrudSimpleModalBootstrap.Models.AutorViewModel

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-body">
                @Html.Action("Edit", "Autor", new { id = Model.Id })
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default fechar" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>